.basket-carts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 40px; */
    flex-direction: column;
}
.basket-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black !important;
    /* background-color: red; */
    gap: 20px;
    img{
        width: 100px;
        height: 100px;
    }
}